/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 18, 2022, 9:21:23 AM
    Author     : Viet Duc
*/

td 
{
    border: 1px solid;
    background-color: yellow;
}